<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>demoStuManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>rainy.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogupServlet</display-name>
    <servlet-name>LogupServlet</servlet-name>
    <servlet-class>rainy.servlet.LogupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogupServlet</servlet-name>
    <url-pattern>/logup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllServlet</display-name>
    <servlet-name>FindAllServlet</servlet-name>
    <servlet-class>rainy.servlet.FindAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllServlet</servlet-name>
    <url-pattern>/findall</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStuServlet</display-name>
    <servlet-name>AddStuServlet</servlet-name>
    <servlet-class>rainy.servlet.AddStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStuServlet</servlet-name>
    <url-pattern>/addStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelStuServlet</display-name>
    <servlet-name>DelStuServlet</servlet-name>
    <servlet-class>rainy.servlet.DelStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelStuServlet</servlet-name>
    <url-pattern>/delStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStuServlet</display-name>
    <servlet-name>ListStuServlet</servlet-name>
    <servlet-class>rainy.servlet.ListStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStuServlet</servlet-name>
    <url-pattern>/listStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStuServlet</display-name>
    <servlet-name>UpdateStuServlet</servlet-name>
    <servlet-class>rainy.servlet.UpdateStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStuServlet</servlet-name>
    <url-pattern>/updateStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStuServlet</display-name>
    <servlet-name>GetStuServlet</servlet-name>
    <servlet-class>rainy.servlet.GetStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStuServlet</servlet-name>
    <url-pattern>/getStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryStuServlet</display-name>
    <servlet-name>QueryStuServlet</servlet-name>
    <servlet-class>rainy.servlet.QueryStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryStuServlet</servlet-name>
    <url-pattern>/queryStu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ByPageServlet</display-name>
    <servlet-name>ByPageServlet</servlet-name>
    <servlet-class>rainy.servlet.ByPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ByPageServlet</servlet-name>
    <url-pattern>/byPage</url-pattern>
  </servlet-mapping>
</web-app>